// You can add CSS rules here that will be inlucded in Hydejack's CSS file



/* Cover Image */
.cover-banner {
	height: 100vh;
	
	position: relative;
	top: -294px;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
	
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
}

.full-width {
  width: 100%;
}

.sidebar-sticky {
	max-width: 30rem;
}
